body {
    background-color: black;
    background-image: url('static/img/inda.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #202328;
}

#overlay,
#defence-data-overlay,
#overlay-def {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    overflow-y: scroll;
    font-family: 'VT323', monospace;
    font-size: 20px;
    z-index: 1001;
}

#defence-data-overlay {
    display: none;
    z-index: 1002;
}

.overlay-inner {
    display: block;
    padding: 40px;
    width: auto;
    z-index: 1002;
}

.flexbox {
    display: flex;
}

.overlay-flex-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    background-color: black;
}

.side-panel,
.mid-section {
    width: 50%;
}

.head {
    background-color: rgba(216, 189, 189, 0.8);
    position: relative;
    padding-left: 20px;
}

.side-panel {
    height: 50%;
    text-align: center;
}

.mid-section {}

.inner-flex {
    display: flex;
}

.inner-flex-1,
.inner-flex-2 {
    width: 50%;
}

#def-sidenav a {
    position: fixed;
    left: -110px;
    transition: 0.3s;
    padding: 15px;
    width: 130px;
    text-decoration: none;
    font-size: 20px;
    color: #b00020;
    border-radius: 0 5px 5px 0;
    text-align: center;
}

#def-sidenav a:hover {
    left: 0;
}

.army,
.navy,
.airforce {
    display: none;
}

#army {
    top: 130px;
    background-color: #2a5744;
    z-index: 1;
}

#navy {
    top: 200px;
    background-color: white;
    z-index: 1;
}

#airforce {
    top: 270px;
    background-color: #5294e2;
    z-index: 1;
}


/*-----------------------------------------------------------------------*/

#menu-bar {
    display: flex;
    align-items: center;
    background-color: #202328;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 1000;
}

.menu-header,
.menu-items {
    color: white;
}

.menu-items {
    margin: auto;
    display: flex;
    justify-content: flex-end;
}

.menu-items p {
    border-right: 1px solid white;
    padding: 10px;
}

.menu-items a {
    text-decoration: none;
    color: white;
}

.menu-items a:active {
    background-color: black;
}

#parallel-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
    margin-top: 130px;
}

.parallel {
    width: 200px;
    height: 60px;
    background-color: #FFF712;
    float: left;
    transform: skew(20deg);
    text-align: center;
}

.parallel p {
    color: #202328;
    padding: 10px;
}

.state-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.state-table,
th,
td {
    width: 70%;
    color: #FFF712;
    border: 1px solid;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

.active {
    background-color: #b00020;
}

.branch-gov {
    background-color: #2ea35e;
    max-width: 100%;
}

.branch-journal {
    background-color: #f31351;
}

.branch-gov,
.branch-journal {
    border-radius: 10px;
}

.branch-header {
    width: 100%;
}

.branch h2 {
    color: white;
    padding: 2px 0px 2px 10px;
}

#footer-covid {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #FFF712;
    background-color: #202328;
    bottom: 0px;
}

.footer-div-covid {
    height: 200px;
    min-width: 33%;
    align-items: center;
}

.footer-div-covid a {
    color: #FFF712;
    text-decoration: none;
}


/*------------- india -------------*/

#defence-data {
    display: block;
    width: 100%;
    color: white;
    background-color: #202328;
    bottom: 0px;
    overflow: hidden;
}

#defence,
#footer {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: #202328;
    bottom: 0px;
    overflow: hidden;
}

#footer {
    height: 250px;
    align-items: center;
    border-left: 3px solid #b00020;
}

.div-defence-data {
    margin: 3px;
    height: auto;
    padding: 20px;
}

#defence,
.div-defence {
    height: auto;
    align-items: flex-start;
}

.div-defence {
    margin: 3px;
    align-items: center;
    text-align: center;
}

.div-defence,
.footer-item {
    height: 100%;
    min-width: 33%;
}

.div-defence a {
    color: white;
    text-decoration: none;
    margin: 2%;
}

.social {
    display: flex;
}

.cards {
    background-color: #202328;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-between;
}

.card {
    width: 250px;
    height: 300px;
    background-color: white;
    text-align: center;
    margin: 10px;
    position: relative;
    box-shadow: 10px 10px 5px grey;
}

.site {
    margin: 0px 20%;
    padding: auto;
    overflow: hidden;
    max-height: 50px;
}

.site:hover {
    background-color: #f31351;
}

.card-image img {
    background-color: greenyellow;
    height: 130px;
    max-width: 100%;
}

.drop_btn {
    transition-duration: 0.5s;
}

.display-flex {
    display: flex;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.gov-initiatives-roll {
    justify-content: center;
    align-items: baseline;
    background-color: white;
}

.gov-card {
    color: #2ea35e;
    margin: 30px;
    height: 50%;
    padding: 10px;
}

@media only screen and (max-width: 600px) {
    .menu-items {
        display: none;
    }
    .mobile-menu-items {
        display: none;
        margin: 10px;
        padding: 10px;
        background-color: black;
        position: relative;
    }
    .menu-icon {
        width: 35px;
        height: 4px;
        margin: 6px;
        background-color: white;
    }
    #mobile-menu:hover .mobile-menu-items {
        display: block;
    }
    #mobile-menu {
        position: absolute;
        right: 0px;
    }
    .mobile-menu-items a {
        text-decoration: none;
        color: white;
    }
    .gov-initiatives-roll {
        display: block;
        align-items: center;
    }
    .gov-card {
        color: #2ea35e;
        padding: 10px;
    }
    .gov-card img {
        height: 60px;
        width: auto;
        float: left;
    }
    .gov-card p {
        font-size: 10px;
        ;
    }
    #footer {
        display: block;
        width: 100%;
        color: white;
        background-color: #202328;
        bottom: 0px;
        height: auto;
        align-items: center;
        border-left: none;
        padding: 5px;
    }
}