html,
body,
#twitter-main {
    min-height: 100%;
}

body {
    background-color: white;
    color: white;
}

.menu-wrapper {
    background-color: #182430;
}

#twitter-menu-bar {
    background-color: #182430;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    z-index: 2;
}

.twitter-menu-items {
    display: flex;
    width: 70%;
    align-items: baseline;
    padding: 10px;
}

.justify-right {
    justify-content: flex-end;
}

.twitter-menu-items p {
    padding-right: 10px;
    text-align: center;
}

.twitter-menu-items a {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover>p {
    color: #1da1f2;
}

a:hover {
    color: #1da1f2;
}

#twitter-form {
    padding-left: 50px;
}

.twitter-form-input {
    color: white;
    height: 20px;
    width: 20px;
    padding: 10px;
    border: 2px white solid;
    border-radius: 50%;
    background: none;
    transition: all .25s ease-in .25s;
    outline: none;
}

.twitter-form-input-full {
    color: white;
    height: 20px;
    border: 2px solid #1da1f2;
    transition: all .25s ease-in .25s;
    border-radius: 25px;
    width: 200px;
}

.main-div {
    display: flex;
    height: 100vh;
    background-color: #182430;
    width: 100%;
}

.main-div-left,
.main-div-right {
    margin-top: 100px;
    width: 50%;
}

.main-div-left {
    padding: 30px;
}

#search-result {
    width: 100%;
    height: auto;
    background-color: #1da1f2;
}

.search-result-flex {
    display: flex;
}