<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
	<script type="text/javascript"
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js">
    </script>
	<script type="text/javascript">
		$(document).ready(function () {

		 $('#butt').click(function(){
			var inputValue = $("#query_input").val();

    		// Output the value

    			$.ajax({
				  type: "GET",
				  url: "/about?query=" + inputValue,
				  data: JSON.stringify({inputValue}),
				  dataType: "json",
				  success:function(data) {
					if (data) {
						$('#pop').append(data);
					}else {
						$('#pop').append(inputValue);
				    }
				    console.log(data);
				  }
				});

			console.log(inputValue);
        });
       });
    </script>
</head>

<body>
	<form>
		<input class="form-control" id="query_input" name=query type="text" placeholder="Enter what to look for">
		<button type="button" id="butt">Click Me!</button>
	</form>
	<p id="pop"></p>
</body>
</html>
