{% extends "base.html" %} {% block header %} <a href="#intro" class="scrollto">IMDb</a> {% endblock %} {% block section_intro %}
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">

                    <div class="carousel-background"><img src="static/img/intro.jpg" alt="">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <div class="md-form mt-0">
                                    <h2 class="search-text">Search for movies</h2>
                                    <form id="form">
                                        <input class="form-control" type="text" id="query_input" name="query">
                                        <a href="#" id="ajax_button" class="btn-get-started scrollto">Search</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block section_about %}
<section id="about">
    <div class="container">
        <div class="moviegif1"><img src="static/img/movie1.gif"></div>
        <header class="section-header">
            <h3>About</h3>
            <p>! Lights|Camera|Action !</p>
            <p><strong>Search for movies without any hassle</strong></p>
        </header>
    </div>
</section>
{% endblock %} {% block main_div %}
<div id="main_div">
</div>
{% endblock %}