{% extends "base.html" %} {% block header %}
<a href="#intro" class="scrollto"><img src="static/img/map64.png">Incredible India</a> {% endblock %} {% block section_intro %}
<div id="main">


    <hr class="hr" style="border-color: #b00020;border-width:5px;">

    <div class="branch-twitter">
        <h3 style="padding:10px;color:black"><img src="static/img/twitter.png">A few twitter handles</h3>
        <div class="twitter_div">
            {%for profile in twitter_data%}
            <div class="twitter-user-card">
                <div style="height: 80px; background-color: #1da1f2;">
                    <div class="twitter-image">
                        <img src="static/img/64.png">
                    </div>
                </div>
                <div style="width:100%; height: 3px;background-color:#b00020"></div>
                <div class="twitter-hidden ">
                    <p style="padding-top: 40px; color: #1da1f2;"><strong>{{ profile['username'] }}</strong></p>
                    <p style="color: white;font-size: 12px;"><strong>Description</strong></p>
                    <a href="{{ profile['url'] }}"><img src="static/img/twitter.png" style="position: relative; top: 30px;"></a>
                </div>

                <div class="card-footer" style="height: 30px; background-color: #1e1b26;">
                    <p style="width:50%; margin-left:50%; text-align: center;">
                        <a href="https://www.google.com/search?q={{ profile['url'] }}" style="text-decoration: none;color: #1da1f2; text-align: center;">More Info</a>
                    </p>

                </div>
            </div>
            {%endfor%}
        </div>
    </div>


    <div class="branch-gov">
        <h3 style="padding:10px;color:black">Government Initiatives</h3>
        <div class="gov-initiatives-roll display-flex">
            {% for key,value in data['initiatives'].items() %}
            <div class="gov-card">
                <img src="{{ value['image'] }}">
                <h3 style="text-align: center;"> {{ key }}</h3>
            </div>
            {% endfor %}
        </div>
    </div>
</div> {%endblock%}