<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>India</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/new.css">
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="static/css/style.css" rel="stylesheet">


    <script>
        $(document).ready(function() {
            ang = 180;

            function clicked(id, btn) {
                $(btn).css({
                    'transform': 'rotate(' + ang + 'deg)'
                });
                ang += 180;
                if ($(id).hasClass('display-flex')) {
                    $(id).removeClass('display-flex');
                    $(id).addClass('display-none')
                } else {
                    $(id).addClass('display-flex');
                    $(id).removeClass('display-none');
                };
            };
            $('.drop_btn').click(function() {
                clicked('#branch-id', '.drop_btn');
            });
        });

        $(document).ready(function() {
            $('.close').click(function() {
                $('#overlay').css('display', 'none');
                $('#overlay-def').css('display', 'none');

            });
            $('.back').click(function() {
                $('#defence-data-overlay').css('display', 'none');
            });
        });
        $(document).ready(function() {
            $('.overlay-btn').click(function() {
                $('#overlay').css('display', 'block')
            });
        });
        $(document).ready(function() {
            $('.overlay-btn-def').click(function() {
                $('#overlay-def').css('display', 'block')
            });
        });
        $(document).ready(function() {
            function clicked(show, e, f) {
                $('#defence-data-overlay').css('display', 'block');
                $(show).css('display', 'block');
                $(e).css('display', 'none');
                $(f).css('display', 'none');
            };
            $('#army').click(function() {
                clicked('.army', '.navy', '.airforce');
            });
            $('#navy').click(function() {
                clicked('.navy', '.army', '.airforce');
            });
            $('#airforce').click(function() {
                clicked('.airforce', '.army', '.navy');
            });
        });
        $(document).ready(function() {
            $('#mobile-menu').click(function() {
                if (!$('.mobile-menu-items').hasClass("display-block")) {
                    $('.mobile-menu-items').addClass("display-block");
                    $('.mobile-menu-items').removeClass("display-none");
                    $('.menu-icon-1').css("opacity", "0");
                    $('.menu-icon-3').css("opacity", "0");
                    $('.hr').css("margin-top", "280px")
                } else {
                    $('.menu-icon-1').css("opacity", "1");
                    $('.menu-icon-3 ').css("opacity", "1");
                    $('.mobile-menu-items').removeClass("display-block");
                    $('.mobile-menu-items').addClass("display-none");
                    $('.hr').css("margin-top", "100px")
                }

            });
        });
    </script>
</head>

<body>
    <!---------------- Overlay ------------------->
    <div id="overlay">
        <div class="overlay-inner">
            <div class="head">
                <img class="close" style="width: 64px;height: 64px;" src="static/img/close.png">
            </div>
            <div class="flexbox">
                <div class="side-panel overlay-flex-item">
                    <h3> {{ data['india']['name'] }}</h3>
                    <img style="width: 500px;height: 700px;" src="static/img/india.jpg">
                    <div class="inner-flex">
                        <div class="inner-flex-1">
                            <p> Capital : {{ data['india']['capital'] }}</p>
                            <p> Area : {{ data['india']['area'] }}</p>
                            <p> Time : {{ data['india']['time'] }}</p>
                            <p>Climate : {% for item in data['india']['climate'] %}
                                <p>{{item}}</p>
                                {%endfor%}
                            </p>

                        </div>
                        <div class="inner-flex-2">
                            <p>Memberships : {{ data['india']['membership'] }}</p>
                            <p>{{ data['india']['legislature'][0] }}</p>
                            <p>{{ data['india']['legislature'][1] }}</p>
                            {% for key,value in data['india']['population'].items() %}
                            <p> {{ key }} : {{ value }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="mid-section overlay-flex-item">
                    <h2>Facts about India</h2>
                    <ul>
                        {% for fact in data['india']['facts'] %}
                        <li>{{ fact }}</li>
                        {% endfor %}
                    </ul>

                </div>
            </div>
        </div>
    </div>

    <div id="overlay-def">
        <div class="overlay-inner">
            <div class="head">
                <img class="close" style="width: 64px;height: 64px;" src="static/img/close.png">
            </div>
            <div id="def-sidenav">
                <a href="#" id="army">Indian Army</a>
                <a href="#" id="navy">Indian Navy</a>
                <a href="#" id="airforce">Indian Air Force</a>
            </div>
            <p style="padding: 20px;">
                {{ data['armedforces'] }}
            </p>
            <div id="defence">
                <div class="div-defence">
                    {% set d = data['army'] %}
                    <img src="{{ d['image'] }}" style="height:64px;width:64px;">
                    <a href="{{ d['site'] }}">
                        <h2 style="color: #2a5744;">Indian Army</h2>
                    </a>
                    <a href="{{ d['join'] }}">Be a part of it!</a>
                    <hr style="width:50%;color: #2a5744;">
                    <a href="{{ d['instagram'] }}"><img src="static/img/instagram.png"></a>
                    <a href="{{ d['twitter'] }}"><img src="static/img/twitter.png"></a>
                    <a href="{{ d['facebook'] }}"><img src="static/img/facebook.png"></a>
                    <a href="{{ d['youtube'] }}"><img src="static/img/youtube.png"></a>
                    <hr style="width:50%;color: #2a5744;">
                    <p>{{ d['about'] }}</p>
                </div>
                <div class="div-defence">
                    {% set d = data['navy'] %}
                    <img src="{{ d['image'] }}" style="height:64px;width:64px;">
                    <a href="{{ d['site'] }}">
                        <h2>Indian Navy</h2>
                    </a>
                    <a href="{{ d['join'] }}">Be a part of it!</a>
                    <hr style="width:50%;color: white;">
                    <a href="{{ d['instagram'] }}"><img src="static/img/instagram.png"></a>
                    <a href="{{ d['twitter'] }}"><img src="static/img/twitter.png"></a>
                    <a href="{{ d['facebook'] }}"><img src="static/img/facebook.png"></a>
                    <a href="{{ d['youtube'] }}"><img src="static/img/youtube.png"></a>
                    <hr style="width:50%;color: white;">
                    <p>{{ d['about'] }}</p>
                </div>
                <div class="div-defence">
                    {% set d = data['air force'] %}
                    <img src="{{ d['image'] }}" style="height:64px;width:64px;">
                    <a href="{{ d['site'] }}">
                        <h2 style="color: #5294e2;">Indian Air Force</h2>
                    </a>
                    <a href="{{ d['join'] }}">Be a part of it!</a>
                    <hr style="width:50%;color: #5294e2;">
                    <a href="{{ d['instagram'] }}"><img src="static/img/instagram.png"></a>
                    <a href="{{ d['twitter'] }}"><img src="static/img/twitter.png"></a>
                    <a href="{{ d['facebook'] }}"><img src="static/img/facebook.png"></a>
                    <a href="{{ d['youtube'] }}"><img src="static/img/youtube.png"></a>
                    <hr style="width:50%;color: #5294e2;">
                    <p>{{ d['about'] }}</p>
                </div>
            </div>
            <div class="branch-journal">
                <h3 style="padding:10px;">Defence Journals <img class="drop_btn" src="static/img/down.png"></h3>

                <div id="branch-id" class="cards display-none">
                    {% for key,value in data["journals"].items() %}
                    <div class="card">
                        <div class="card-image">
                            <img src="{{ value['image'] }}">
                        </div>
                        <div style="color:black; height:120px; background-color: lawngreen;">
                            <h3>{{ value["institute"] }} - {{ value["country"] }}</h3>
                        </div>
                        <div class="site">
                            <a href="https:/{{ value['url'] }}" style="text-decoration: none;color: black;">Visit this
                                site</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!------------ end Overlay -------------->

    <div id="defence-data-overlay">
        <div class="overlay-inner">
            <div class="head">
                <img class="back" src="static/img/back.png">
            </div>
            <div id="defence-data">
                <div class="div-defence-data army">
                    {% set d = data['army'] %}
                    <img src="{{ d['image'] }}" style="height:64px;width:64px;"> {%for fact in d['facts'] %}
                    <li>{{ fact }}</li>
                    {%endfor%}
                </div>
                <div class="div-defence-data navy">
                    {% set d = data['navy'] %}
                    <img src="{{ d['image'] }}" style="height:64px;width:64px;"> {%for fact in d['facts'] %}
                    <li>{{ fact }}</li>
                    {%endfor%}
                </div>
                <div class="div-defence-data airforce">
                    {% set d = data['air force'] %}
                    <img src="{{ d['image'] }}" style="height:64px;width:64px;"> {%for fact in d['facts'] %}
                    <li>{{ fact }}</li>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>

    <!------------ end Overlay Overlay -------------->

    <div id="main">
        <div id="menu-bar">
            <img src="static/img/map64.png" style="float: left;">
            <h1 class="menu-header">Incredible India!</h1>
            <div id="mobile-menu" style="position: absolute;right:0px; top: 30px">
                <div class="menu-icon-1"></div>
                <div class="menu-icon-2"></div>
                <div class="menu-icon-3"></div>
            </div>
            <div class="mobile-menu-items display-none">
                <a href="/wuhan">
                    <p style="color:white;">COVID</p>
                </a>
                <a href="/">
                    <p style="color:white;">IMDb</p>
                </a>
                <a href="/twitter">
                    <p style="margin:0px;">Twitter</p>
                </a>
                <a class="overlay-btn" href="#">
                    <p style="color:white;">See Some Facts</p>
                </a>
                <a class="overlay-btn-def" href="#">
                    <p style="color:white;">Know your forces</p>
                </a>

            </div>


            <div class="menu-items">
                <a href="/wuhan">
                    <p style="margin:0px;">COVID</p>
                </a>
                <a href="/">
                    <p style="margin:0px;">IMDb</p>
                </a>
                <a href="/twitter">
                    <p style="margin:0px;">Twitter</p>
                </a>
                <a class="overlay-btn" href="#">
                    <p style="margin:0px;">See Some Facts</p>
                </a>
                <a class="overlay-btn-def" href="#">
                    <p style="margin:0px;">Know your forces</p>
                </a>
                <a href="/index">
                    <p style="margin:0px;">About Me</p>
                </a>
            </div>

        </div>

        <hr class="hr" style="border-color: #b00020;border-width:5px;">

        <div class="branch-twitter">
            <h3 style="padding:10px;color:black"><img src="static/img/twitter.png">A few twitter handles</h3>
            <div class="twitter_div">
                {%for profile in twitter_data%}
                <div class="twitter-user-card">
                    <div style="height: 80px; background-color: #1da1f2;">
                        <div class="twitter-image">
                            <img src="static/img/64.png">
                        </div>
                    </div>
                    <div style="width:100%; height: 3px;background-color:#b00020"></div>
                    <div class="twitter-hidden ">
                        <p style="padding-top: 40px; color: #1da1f2;"><strong>{{ profile['username'] }}</strong></p>
                        <p style="color: white;font-size: 12px;"><strong>Description</strong></p>
                        <a href="{{ profile['url'] }}"><img src="static/img/twitter.png" style="position: relative; top: 30px;"></a>
                    </div>

                    <div class="card-footer" style="height: 30px; background-color: #1e1b26;">
                        <p style="width:50%; margin-left:50%; text-align: center;">
                            <a href="https://www.google.com/search?q={{ profile['url'] }}" style="text-decoration: none;color: #1da1f2; text-align: center;">More Info</a>
                        </p>

                    </div>
                </div>
                {%endfor%}
            </div>
        </div>


        <div class="branch-gov">
            <h3 style="padding:10px;color:black">Government Initiatives</h3>
            <div class="gov-initiatives-roll display-flex">
                {% for key,value in data['initiatives'].items() %}
                <div class="gov-card">
                    <img src="{{ value['image'] }}">
                    <h3 style="text-align: center;"> {{ key }}</h3>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <footer id="india-footer">
        <div class="footer-item">
            <div class="footer-item-heading" style="margin-left:80px;">
                <h1 style="border-left: 4px solid #2ea35e;padding-left: 10px;"><strong>Nimit</strong></h1>
                <h1 style="border-left: 4px solid #2ea35e;padding-left: 10px;"><strong>Khurana</strong></h1>

            </div>
        </div>
        <div class="footer-item">
            <div class="footer-item-heading">
                <h3>Contact</h3>
                <div style="height:2px; width:100%; background-color:white;">
                    <div style="height:2px; width:30%; background-color:#2ea35e; "></div>
                </div>
            </div>
            <strong>Phone:</strong> +91 9501138443<br>
            <strong>Email:</strong> nimitkhuranaa@gmail.com<br>
            <p><img src="static/img/pin.png"> Panchkula, India</p>
        </div>
        <div class="footer-item">
            <div class="footer-item-heading">
                <h3>Visit Other Places</h3>
                <div style="height:2px; width:100%; background-color:white;">
                    <div style="height:2px; width:30%; background-color:#2ea35e; "></div>
                </div>
            </div>
            <a href="{{ url_for( 'index') }}">About Me</a><br>
            <a href="{{ url_for( 'india') }}">Know India</a><br>
            <a href="{{ url_for( 'twitter') }} ">Twitter</a><br>
            <a href="{{ url_for( 'wuhan') }}">COVID-19</a>
        </div>
        <div class="footer-item ">
            <div class="footer-item-heading">
                <h3>About</h3>
                <div style="height:2px; width:100%; background-color:white;">
                    <div style="height:2px; width:30%; background-color:#2ea35e; "></div>
                </div>
            </div>
            <p>
                This is a personal project for learning purposes. Check <a href="https://github.com/Nimit-Khurana/IMDb-test ">here</a> to check the project at Github.
            </p>
            <p>Thank You for being here!!</p>
            <strong>Data Fetched from:</strong>
            <li style="font-size: 10px;">investindia.gov.in (MEA)</li>
            <li style="font-size: 10px;">indianarmy.nic.in</li>
            <li style="font-size: 10px;">indianarforce.nic.in</li>
            <li style="font-size: 10px;">indianavy.nic.in</li>
            <li style="font-size: 10px;">india.gov.in</li>
            <a style="text-decoration: none;cursor: pointer;color:white " href="/india/api.html ">
                Get API
            </a>
        </div>

    </footer>


</body>

</html>

<body>