<!DOCTYPE html>
<html>
	<head> <title>post request</title></head>
	<body>
		<div style="text-align:center;">
			<h2> Flask and WTF forms together are great</h2>
			<h2> Hey!! Search from IMDb movie db</h2>
			<h5> This takes form 'POST' requests and returns json data</h5>

			<form method="POST">
				<input class="form-control" name="contents" placeholder="Enter a movie name">
				<br>
				<input type="submit" class="btn btn-success" value="POST search">
			</form>

			{% if q %}
				<p> {{ q }}</p>
			{%endif%}
		</div>
	</body>
</html>
