{% macro render_field(field)%}
	{{ field(class_="regfield") }}
	<br><br>
{% endmacro %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Register</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
  <link href="static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="static/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="static/lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Login Stylesheet File -->
  <link href="static/css/register.css" rel="stylesheet">
  

</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <h1><a href="#body" class="scrollto"><span>N</span>K</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>
      <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="#">Option</a></li>
            <li class="menu-active"><a href="#">another Option</a></li>
            <li class="menu-active"><a href="#">yet another Option</a></li>
          </ul>
      </nav>
    </div>
  </header><!-- #header -->



  <!--==========================
    Hero Section
  ============================-->
  <section id="hero" class="wow fadeIn">
    <div class="hero-container">
      <img src="static/img/register.jpg" alt="register img">

      <div id="home-side-nav">
          <a href="#" id="home">Home</a>
      </div>
      <div id="login-side-nav">
          <a href="{{ url_for('login') }}" id="login">login</a>
      </div>
      <div id="projects-side-nav">
          <a href="#" id="projects">Projects</a>
      </div>
      

      <div class="form-div">
          <p>
				<form id="regform_js" class="regform" method="POST" autocomplete="on" name="register">
					{{ regform.csrf_token }}
					{{ render_field(regform.username) }}
          {{ render_field(regform.fname) }}
          {{ render_field(regform.lname) }}
					{{ render_field(regform.email) }}
					{{ render_field(regform.password) }}
					<!--{{ regform.gender }}-->
					<input id="clear_js" class="register-btn" type="submit" value="Register">
				</form>
          	</p>
      </div>
    </div>
  </section><!-- #hero -->

      
  


  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="static/lib/jquery/jquery.min.js"></script>
  <script src="static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="static/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/lib/superfish/hoverIntent.js"></script>
  <script src="static/lib/superfish/superfish.min.js"></script>
  <script src="static/lib/easing/easing.min.js"></script>
  <script src="static/lib/modal-video/js/modal-video.js"></script>
  <script src="static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="static/lib/wow/wow.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="static/js/main.js"></script>
  <!-- Template CUSTOM Javascript File -----------------------------CHECK--------------------------->
  <script src="static/js/formclear.js"></script>

</body>
</html>