{% extends "bootstrap/base.html" %}

{% block title %} -MyFlask {%endblock%}

{% block content %}
<header id="header">

    <div class="container-fluid">



      <div id="logo" class="pull-left">

        <h1><a href="#intro" class="scrollto">Bootstrap Page</a></h1>

        <!-- Uncomment below if you prefer to use an image logo -->

        <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>

      </div>
    </div>

  </header><!-- #header -->



    <section id="intro">

      <div class="intro-container">

        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">



          <ol class="carousel-indicators"></ol>



       <div class="carousel-inner" role="listbox">



          <div class="carousel-item active">

            <div class="carousel-background"><img src="about-vision.jpg" alt=""></div>

            <div class="carousel-container">

              <div class="carousel-content">

              </div>

            </div>

          </div>
	</div>
     </div>
   </div>
    </section>
  {%endblock%}
