<!DOCTYPE html>
<html>
<title>NK</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
  .post {
        background-color: whitesmoke;
        padding-left:3%;
        padding-right:3%;
        border-bottom:1px solid grey;
        height: auto;
        max-height: 500px;
        overflow: auto;
    }
</style>

<body class="w3-theme-l5">

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="#" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Home</a>
  
  <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white">Logout</a>
  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="static/img/title.png"        class="w3-circle" style="height:23px;width:23px" alt="useravatar">
  </a>
  
 </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a href="#" class="w3-bar-item w3-button w3-padding-large"></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large"></a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large"></a>
  <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button w3-padding-large">Logout</a>
</div>


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="w3-row">
    
    
    <!-- Middle Column --> <!-- CONTENTS OF USER, basically USER FEED -->
    <div class="w3-col m18">
    
      <div class="w3-row-padding" style="margin:0 10% 0 20%">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">
                    <h3> Your Posts</h3><br>
                    <div style="width:100%;background-color: white;">
                        {% for post in posts %}
                            <div class="post" style="font-size: 15px;">{{ post }}</div>
                            <br>
                        {% endfor %}
                    </div>
              
            </div>
          </div>
        </div>
      </div> 
      
    <!-- End Middle Column -->
    </div>   
  <!-- End Grid -->
  </div>
  
<!-- End Page Container -->
</div>
<br>

<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  
</footer>

<script>
       
    // Used to toggle the menu on smaller screens when clicking on the menu button
    function openNav() {
      var x = document.getElementById("navDemo");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
      } else { 
        x.className = x.className.replace(" w3-show", "");
      }
    }
</script>
 
</body>
</html> 
