{% extends "base.html" %} {% block header %}
<a href="#intro" class="scrollto"><img src="/static/img/pandemic.png">Covid-19</a> {% endblock %} {% block section_intro %}
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">

                    <div class="carousel-background"><img src="static/img/wuhan.jpg" alt="">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <div class="md-form mt-0">
                                    <h2>India</h2>
                                    <p style="font-size: 10px;"> Data fetched from Herakuapp.com</p>
                                    <div id="parallel-body">
                                        {% for d in data %}
                                        <div class="parallel">
                                            <p style="color:black">{{ d[0] }} {{ d[1] }}</p>
                                        </div>
                                        {% endfor %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %} {% block main_div %}


<table class="state-table">
    <tr>
        <th>State</th>
        <th>Total cases</th>
        <th>Total cured</th>
        <th>Total deaths</th>
    </tr>
    {% for item in state_data %}
    <tr>
        <th>{{ item["state"] }}</th>
        <th>{{ item["noOfCases"] }}</th>
        <th>{{ item["cured"] }}</th>
        <th>{{ item["deaths"] }}</th>
    </tr>
    {% endfor %}
</table>

</div>
{% endblock %}