<!DOCTYPE html>
<html>

<head>
    <title>wuhan virus</title>
</head>

<style>
    body {
        background-image: url('static/img/wuhan.jpg');
        color: #202328
    }

    #menu-bar {
        display: flex;
        background-color: #202328;
        position: fixed;
        width: 100%;
        height:70px;
        left: 0;
    }

    
</style>

<body>

    <div id="main">
        <div id="menu-bar">
            <div class="dropdown">
                <button class="dropbtn">Visit other sites!</button>
                <div class="dropdown-content">
                    <a class="hover-color" href="https://www.mygov.in/covid-19">mygov(INDIA)</a>
                    <a class="hover-color" href="https://www.worldometers.info/">worldometers</a>
                    <a class="hover-color"
                        href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO</a>
                </div>
            </div>
            
        </div>
    </div>
        
    <footer id="footer">

    </footer>

</body>